# http://editorconfig.org

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
spaces_around_operators = false
spaces_around_brackets	= none

[*.md]
trim_trailing_whitespace = false